#main {
    background-color: whitesmoke;
}
#Head {
    color: crimson;
}
.label {
    color: brown;
    background-color: cyan;
}
#h {
    width: 200px;
}
#w {
    width: 200px;
}
#output{
    background-color:navajowhite;
}
#Turtle{
    color: rgb(23, 146, 23);
    font-size: large;
    font-family:monospace;
}